footer{
    align-self: flex-end;
    width: 100%;
}


.instagram{
    height: 50px;
    width: 50px;
}

.twitter{
    height: 50px;
    width: 50px;
}

.footerlogin{
    padding: 10px;
    justify-content: space-between;
    background-color: map-get($colores , fondoPrincipal );
    
}
